@page
@model PetHotelApplicationRazorPage.Pages.Manager.IndexModel
@{
    Layout = "_LayoutManage";
}

<div class="container-fluid">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome, Manager</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <a class="btn btn-primary" asp-page="/Manager/AccommodationManage/Index">Accommodation Management</a>
    </div>
</div>