@page
@model PetHotelApplicationRazorPage.Pages.Staff.IndexModel
@{
    Layout = "_LayoutManage";
}

<div class="container-fluid">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome, Staff</h1>
        </div>
        <div class="mt-4">
            <a class="btn btn-primary d-block mx-auto mb-4" asp-page="/Staff/ServicesManagement/Index">Services Management</a>
            <a class="btn btn-primary d-block mx-auto mb-4" asp-page="/Staff/PaymentRecordManagement/Index">Payment Record Management</a>
            <a class="btn btn-primary d-block mx-auto mb-4" asp-page="/Staff/BookingManagement/Index">Booking Information Management</a>
            <a class="btn btn-primary d-block mx-auto mb-4" asp-page="/Staff/FeedbacksManagement/Index">Feedbacks Management</a>
        </div>
    </div>
</div>
