@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid px-5">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <h2>Use this page to detail your site's privacy policy.</h2>
    </div>
</div>
