@page
@model PetHotelApplicationRazorPage.Pages.User.Payment.PaymentMethodModel
@{
}

<div class="container-fluid mt-5">
    <div class="container p-4">
        <h2 class="text-left mb-4">Select Payment Method</h2>
        <form method="post" asp-page-handler="Confirm">
            <div class="form-group">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" asp-for="SelectedPaymentMethod" value="Cash" id="paymentCash" />
                    <label class="form-check-label" for="paymentCash">Cash</label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" asp-for="SelectedPaymentMethod" value="TransferCash" id="paymentTransferCash" />
                    <label class="form-check-label" for="paymentTransferCash">Transfer cash</label>
                </div>
            </div>
            <div class="text-left">
                <button type="submit" class="btn btn-primary mb-1">Submit</button>
            </div>
        </form>

        <div class="text-left">
            <form method="post" asp-page-handler="Cancel" class="d-inline">
                <a class="btn btn-secondary" asp-page="/User/Booking/BookingConfirmation">Return</a>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
